* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 10px 0 30px;
    text-align: center;
}

section h3 {
    text-align: center;
    font-weight: normal;
}

#pulsanti {
    display: flex;
    justify-content: center;
}

.btn {
    background-color: lightskyblue;
    margin: 10px 10px 20px;
    border-radius: 5px;
    padding: 3px 5px;
    text-transform: uppercase;
    cursor: pointer;
}

main {
    background-color: aquamarine;
}

#contenitore-globale {
    min-height: 500px;
}

#contenitore-celle {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin: 0 auto;
    padding: 30px 0;
    width: 600px;
    height: 600px;
}

.cella {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cella.facile {
    width: 10%;
    height: 10%;
}

.cella.medio {
    width: calc(100% / 9);
    height: calc(100% / 9);
}

.cella.difficile {
    width: calc(100% / 7);
    height: calc(100% / 7);
}

.cella.cliccata {
    background-color: cornflowerblue;
}

.cella.cliccata .numero-cella, .cella.bomba-cliccata .numero-cella {
    color: white;
}

.cella.bomba.cliccata {
    background-color: brown;
}

#punteggio-finale {
    height: 100px;
    font-size: 20px;
    text-align: center;
}